# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
build
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.sample

# Version control
.git
.gitignore

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Test coverage
coverage
.nyc_output

# Misc
.DS_Store
Thumbs.db 